.Table_Card{
  width: 100%;
  padding: 11px;
  border-radius: 10px;
  margin-top: 20px;}
table{
    border-collapse: collapse;
    width: 72rem;

}

th{
   background-color: rgba(36, 14, 51, 0.918); 
    color: rgb(240, 218, 243);
    padding: 10px;
    text-align: center;
    font-size: 25px;
}
td{
   padding: 15px;
   background-color:  #f9e7fc; 
   text-align: center;
   color: rgba(128, 67, 146, 0.644);
   font-size: 20px;
}
table  th, td{
  border: 1px solid  rgb(203, 155, 218); ;
}

.student_card{
  margin-top: 30px;
}