.header{
    background-color: rgb(176, 114, 235);
}

.list {
    transition: 0.3s ease-in-out;
    margin-top:1.9rem ; 
}
.list h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.3s ease-in-out;
    margin-top:0.9rem ; 
    color: rgba(134, 53, 181, 0.717);
}


.Logo-Icon{
    font-size: 2.0rem;
    color: rgb(128, 10, 196);
}

.search-from{
   width: 28rem;
   display: flex;
   align-items: center;
   padding: .1rem;
   background-color: rgba(155, 69, 224, 0.582);
   border-radius: 120px ;
   border-bottom: 1px rgb(142, 49, 230) solid;
   margin-left: 55rem;
}
.search-from input{
    width: 100%;
    font-size: 1.5rem;
    color: white;
    background: none;
    padding: 11px;
  
}
.search-from button{
   cursor: pointer;
    border-radius: none;
    padding: 10px; 
}
.search-from button:hover{
    color: rgb(112, 35, 143) !important; 
}

.Name-logo{
    text-transform:uppercase ;
    font-weight: bold ;
    color:#ffffff;
    font-size: 37px;
}
.Name-logo em{
    color: rgb(62, 13, 107);
}
a{
    text-decoration: none;
}
.IconButton-{
    background-color: brown;
}